.Logo { 
   inline-size: 9.5625rem;
   block-size: 2.5rem;
   cursor: pointer;
   margin: 0;
   padding: 0;
}

.Logo-image{
    inline-size: 100%;
    block-size: 100%;
    vertical-align: middle;
}

@media screen and (min-width: 1024px) {
    .Logo{
        inline-size: 12.25rem;
        block-size: 3rem;
    }
}