 .SuggestDescription-content >*{
    margin: 0;
    padding: 0;
}

.SuggestDescription-title {
    color: var(--white);
    font: var(--body1-bold);
    margin-bottom: 0.5rem;
}

.SuggestDescription-chanel,
.SuggestDescription-info {
    font: var(--body2-regular);
    color: var(--grey);
}