.LayoutCurrentPlaying{ 
   display: grid;
   grid-template-columns: 1fr;
   gap: 1.5rem;
   margin-block-start: 1rem;
}

@media screen and (min-width:1024px) {
   .LayoutCurrentPlaying{ 
      grid-template-columns: 1fr 25.8125rem;
   }
}

@media screen and (min-width:2560px) {
   .LayoutCurrentPlaying{ 
      grid-template-columns: 1fr 45rem;
   }
}